<h3>Bonjour</h3>

<p>Pour changer votre mot de passe, veuillez cliquer sur ce lien :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>@bankORG</p>
