{% extends 'template.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
    <h1>Demander un nouveau mot de passe</h1>

    {{ form_start(resetForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-dark text-white">Envoyer le nouveau mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
