{% extends 'template.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
    <div class="row my-4">
      <div class="col-10 mx-auto">
        <h2>Demander un nouveau mot de passe</h2>
      </div>
    </div>

    <div class="row my-4">
      <div class="col-10 mx-auto">
        {{ form_start(resetForm, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="my-4">
              {{ form_row(resetForm.plainPassword) }}
            </div>
            <div class="my-4">
              <button type="submit" class="btn btn-dark text-white">Envoyer le nouveau mot de passe</button>
            </div>
        {{ form_end(resetForm) }}
      </div>
    </div>
{% endblock %}
