{% extends 'template.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}

  <h1>index du controleur principal qui a un path 'app_home'</h1>

  {# Depuis la méthode verifyUserEmail de RegistrationController, je chope le message de succès. #}
  {% for message in app.flashes('success') %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}

{% endblock %}
